.board-display {
  background-color: darkorange;
  width: 50em; }

.container {
  display: flex; 
  height: 46em;
}

.profile-image {
  border: 1px solid black;
  border-radius: 50%; }

.user-profile {
  background-color: magenta;
  height: 100%;
  width: 40em; }

.welcome-text {
  font-family: 'PT Sans', Arial, Verdana;
  font-weight: 400; }

.profile-wrap {
  align-items: center;
  display: flex; }

.post-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between; }
