@import '../../styles/mixins.scss';

.board-display {
  background-color: darkorange;
  width: 50em;
}

.container {
  background-color: aqua;
  display: flex;
}

.profile-image {
  border: 1px solid black;
  border-radius: 50%;
}

.user-profile {
  background-color: magenta;
  height: 40em;
  width: 40em;
}

.welcome-text {
  @include primary-font;
}

.profile-wrap {
  align-items: center;
  display: flex;
}

.post-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}