$primary-font: 'PT Sans', Arial, Verdana;

$color-white: #f8f8ff;
$color-one: #86C232;
$color-two: rgb(97,137,47);
$color-three: #6B6E70;
$color-four: #474B4F;
$color-five:  #222629;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);


