@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.category {
  @include category();
}

.code-entry {
  width: 1em;
}

.drop-form {
  background-color: $color-three;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 23.3em;
  margin-left: 3.2em;
  margin-top: 4.6em;
  padding: 1em;
  width: 30em;
}

.entry-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 28em;
}

.form-row {
  margin-top: 1em;
}

.co-entry {
  background-color: $color-four;
  border: 1.48px solid black;
  box-shadow: $box-shadow;
  color: $color-one;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 1em;
  height: 2em;
  width: 14em;
  @include hideSpinner();
  @include placeholder-color($color-one);
}

.code-entry{
  background-color: $color-four;
  border: 1.48px solid black;
  box-shadow: $box-shadow;
  color: $color-one;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 1em;
  height: 2em;
  margin: .15em;
  text-align: center;
  width: 1.5em;
  @include placeholder-color($color-one);
}

.submit-button {
  background:none;
  border:none;
  color: $color-two;
  cursor: pointer;
  font-size: 1.75em;
  font-weight: 700;
  height: 2.8em;
  margin-right: 1.2em;
  padding:0;
  text-align: right;
  text-shadow: 2px 1.3px black;
  width: 10em;
  @include category();
  &:Focus{
    outline: none;
    border: none;
  }
  &:hover{
    color: $color-one;
    cursor: pointer;
  }
}

.unique-code-entry-wrap {
  display: flex;
  justify-content: space-between;
  outline: none;
  width: 100%;
}

