@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.category {
  @include category();
}

.code-entry {
  width: 1em;
}

.drop-form {
  background-color: $color-three;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 23.3em;
  margin-left: 3.2em;
  margin-top: 4.6em;
  padding: 1em;
  width: 30em;
}

.entry-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 29em;
}

.form-row {
  margin-top: 1em;
}

input {
  height: 2em;
  width: 20em;
}

.submit-button {
  height: 2.8em;
  margin-right: 1.2em;
  width: 10em;
}

.unique-code-entry-wrap {
  display: flex;
  justify-content: space-between;
  width: 10em;
}

