.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.category {
  color: #86C232;
  text-shadow: 2px 1.3px black; }

.code-entry {
  width: 1em; }

.drop-form {
  background-color: #6B6E70;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 23.3em;
  margin-left: 3.2em;
  margin-top: 4.6em;
  padding: 1em;
  width: 30em; }

.entry-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 28em; }

.form-row {
  margin-top: 1em; }

.co-entry {
  background-color: #6B6E70;
  border: 1.48px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  color: #86C232;
  font-family: "PT Sans", Arial, Verdana;
  font-weight: 700;
  font-size: 1em;
  height: 2em;
  width: 14em; }
  .co-entry ::-webkit-inner-spin-button,
  .co-entry ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .co-entry::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #86C232; }

.submit-button {
  height: 2.8em;
  margin-right: 1.2em;
  width: 10em; }

.unique-code-entry-wrap {
  display: flex;
  justify-content: space-between;
  width: 10em; }
