.button-wrap-confirm {
  display: flex;
  justify-content: space-between;
  padding-left: .4em;
  padding-top: .5em; }

.category-confirm {
  color: #86C232;
  text-shadow: 2px 1.3px black;
  text-align: center; }

.confirm-button, .edit-button {
  color: #86C232;
  font-size: 1.75em;
  text-shadow: 2px 1.3px black;
  position: relative;
  background: none;
  border: none;
  font-weight: 700;
  padding: 0;
  cursor: pointer; }
  .confirm-button:hover, .confirm-button:focus, .confirm-button:active, .edit-button:hover, .edit-button:focus, .edit-button:active {
    cursor: pointer; }
    .confirm-button:hover:after, .confirm-button:focus:after, .confirm-button:active:after, .edit-button:hover:after, .edit-button:focus:after, .edit-button:active:after {
      outline: none;
      width: 100%; }
  .confirm-button:after, .edit-button:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    background-color: #86C232;
    width: 0;
    transition: width .4s; }
  .confirm-button:hover, .edit-button:hover {
    color: #86C232; }
  .confirm-button:focus, .edit-button:focus {
    color: #86C232;
    outline: none; }

.confirm-form {
  background-color: #6B6E70;
  border: 2.5px solid #86C232;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  height: 23.3em;
  margin-left: 3.2em;
  margin-top: 4.6em;
  padding: 1em;
  text-align: right;
  width: 30em; }

.column-left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: .4em;
  width: 50%; }

.column-right-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 1.75em;
  text-align: left;
  width: 50%; }

.data-wrap {
  display: flex;
  height: 90%;
  justify-content: space-between; }

.location-display {
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  margin-top: .64em;
  width: 13em; }

.output {
  color: #86C232;
  text-align: center;
  text-shadow: 1.5px 1px black; }

.stat-wrap {
  align-items: center;
  background-color: #474B4F;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  height: 12em;
  margin-top: .25em;
  margin-bottom: .5em;
  width: 15em; }
