.button-wrap-confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3em;
  padding-left: .4em; }

.category-confirm {
  color: #86C232;
  text-shadow: 2px 1.3px black;
  text-align: center; }

.confirm-button, .edit-button {
  color: #61892f;
  font-size: 1.75em;
  text-align: center;
  text-shadow: 2px 1.3px black;
  background: none;
  border: none;
  font-weight: 700;
  padding-top: 1.75em; }
  .confirm-button:hover, .edit-button:hover {
    color: #86C232;
    cursor: pointer; }
  .confirm-button:focus, .edit-button:focus {
    color: #86C232;
    outline: none; }

.confirm-form {
  background-color: #6B6E70;
  border: 2.5px solid #86C232;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  height: 23.3em;
  margin-left: 3.2em;
  margin-top: 4.6em;
  padding: 1em;
  text-align: right;
  width: 30em; }

.column-left-wrap {
  display: flex;
  flex-direction: column;
  margin-top: .4em;
  width: 50%; }

.column-right-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1.75em;
  text-align: left;
  width: 50%; }

.data-wrap {
  display: flex;
  height: 90%;
  justify-content: space-between;
  width: 30em; }

.location-display {
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  margin-top: .64em;
  width: 13em; }

.output {
  color: #86C232;
  text-align: center;
  text-shadow: 1.5px 1px black; }

.stat-wrap {
  align-items: center;
  background-color: #474B4F;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  height: 12em;
  margin-top: .25em;
  margin-bottom: .5em;
  width: 15em; }
