.button-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%; }

.drop-card {
  background-color: #6B6E70;
  border: 1px solid black;
  border-radius: .45em;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", Arial, Verdana;
  font-size: 1em;
  font-weight: 700;
  height: 12em;
  margin: .14em;
  padding: 1em;
  width: 12em; }
  .drop-card:hover {
    background-color: #61892f; }

.drop-icon {
  align-items: center;
  margin: auto;
  padding: 0;
  width: 3em; }

.drop-image {
  height: 5em;
  width: 7em; }

.submit-button {
  height: 1.3em;
  width: 8em; }
