@import '../../styles/variables.scss';

.button-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.drop-card {
  background-color: $color-three;
  border: 2px solid $color-five;
  display: flex;
  flex-direction: column;
  height: 12em;
  margin: .1em;
  padding: 1em;
  width: 10em;
}

.drop-image {
  height: 5em;
  width: 7em;
}

.submit-button {
  height: 1.3em;
  width: 8em;
}
