.button-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%; }

.drop-card {
  background-color: #6B6E70;
  border: 1px solid black;
  border-radius: .45em;
  display: flex;
  flex-direction: column;
  height: 12em;
  margin: .14em;
  padding: 1em;
  width: 10em; }

.drop-image {
  height: 5em;
  width: 7em; }

.submit-button {
  height: 1.3em;
  width: 8em; }
