@import '../../styles/variables.scss';

.button-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.drop-card {
  background-color: $color-three;
  border: 1px solid black;
  border-radius: .45em;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-size: .89em;
  font-weight: 700;
  height: 12em;
  margin: .14em;
  padding: .75em;
  width: 13em;
  &:hover{
    background-color: $color-two;
  }
}

.drop-icon {
  align-items: center;
  margin: auto;
  padding: 0;
  width: 3em;
}

.drop-image {
  height: 5em;
  width: 7em;
}

.submit-button {
  height: 1.3em;
  width: 8em;
}
